<!-- <div class="hero-unit">
  <h4>Who's it for </h4>
  <ul class="breadcrumb">
    <div class="hero-unit">
      <li> <%= image_tag("idea3.jpeg", alt: "idea img") %> You have an awesome idea looking to collaborate with people that match your interests</li>
    </div>
    <div class="hero-unit">
      <li> You are a skilled designer, engineer looking to work on an idea part-time </li>
    </div>
    <div class="hero-unit">
      <li> Already a team and hope to connect with a mentor </li>
    </div>
  </ul>
    <p align = "center"> 
      <a class = "btn btn-primary btn-large center" >
        Get Started
      </a>
    </p>
</div> -->
<br/>
<div class="breadcrumb" style="width:70%; margin-left:15%">
  <p> 
    1. Ideators: <br/>
       So you think you have a great idea but unsure of the next steps. How often have we had this experience where a great idea dies off without action. Engage with like-minded top engineers, designers and peers from your domain to share, discuss and collaborate to take your idea to the next level. A great idea few days ago can turn into a worthwhile project.
  </p>
</div>
<br/>
<div class="breadcrumb" style="width:70%; margin-left:15%">
  <p>
    2. Specialists: <br/>
       You're a skilled engineer, designer or still a student looking to engage with smart people, work  on an idea you're passionate about and build something great. 
  </p>         
</div>
<br/>
<div class="breadcrumb" style="width:70%; margin-left:15%">
  <p>
    3. Mentors: <br/>
       You're an expert in your domain and can offer guidance on projects in your field of interest, mentor teams or even get involved in projects that interests you. 
  </p>
</div>
<br/>
<p align = "center"> 
  <%= link_to "Get Started", 'signup', class: "btn btn-primary btn-large center" %>
</p>
  


  
