<footer class="footer">
  <div class = "well" id = "foot" >
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %> </li>
    </ul>

    <span class="title" style="margin-left:20%" >
      connectMe
    </span>
     <br/> 
    <span style="margin-left: 20%">
     <small> Effect change socially </small> 
    </span>
      </div>
</footer>
